*,
::before {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #2c35af;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.pass-display {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
#passText {
  width: 70%;
  padding: 10px 4px;
  border: 2px solid #0c8f1d;
  outline: none;
  color: #0c1048;
}
i {
  padding: 10.4px 4px;
  color: #fff;
  border: 2px solid #0c8f1d;
  cursor: pointer;
  transition: all 500ms;
  position: relative;
}
i::after {
  content: 'Copy';
  z-index: -1;
  font-size: 15px;
  position: absolute;
  top: -50%;
  left: 50%;
  transform: all 1s;
}
i:hover {
  background: #2c35af;
}
i:hover::after {
  z-index: 1;
}
i:active {
  background: #000000;
}
i:active::after {
  content: 'Copied';
  z-index: 1;
}
.main-container {
  background: #000000;
  display: flex;
  width: 350px;
  height: 300px;
  flex-direction: column;
  justify-content: space-evenly;
}
.selectors form {
  display: flex;
  flex-direction: column;
  color: #fff;
  line-height: 2;
}
.one,
.two,
.three,
.four,
.five {
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;
}
input[type='submit'] {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 80%;
  display: block;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  border-style: none;
  outline: none;
  position: relative;
  transition: all 1s;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 1px;
  transition: all 1s;
}
#length {
  width: 15%;
  height: 10%;
}

input[type='submit']:hover {
  background: #097217;
  letter-spacing: 5px;
}

label,
input[type='checkbox'] {
  cursor: pointer;
}

input[type='checkbox'] {
  opacity: 0;
  position: absolute;
  margin-left: 260px;
  align-self: center;
  transform: scale(2);
  z-index: 1;
}

.custom-checkbox {
  display: inline-block;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-left: 100px;
  transform: scale(1);
  transition: all 500ms;
  align-self: center;
}

label:hover + input[type='checkbox'] + .custom-checkbox {
  transform: scale(1.5);
}
input[type='checkbox']:checked + .custom-checkbox {
  background-color: #097217;
  box-shadow: inset 0 0 0px 2px #000000;
}
